

@page "/counterv2"
@page "/counterv2/{Increment:int}"

<PageTitle>Counter V2</PageTitle>

<h1>Counter V2</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="() => currentCount += increment">Increment</button>

@code {

    protected override void OnParametersSet()
    {
        if (Increment.HasValue)
            increment = Increment.Value;
    }


}

